src/flows/JBSystemFlow_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1284b552dd62e7a540bb3cdc693f7938_FireJBTrigger</name>
        <label>SalesforceObj1284b552dd62e7a540bb3cdc693f7938_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb50b13001f5b89c655c6341e3a256096</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb50b13001f5b89c655c6341e3a256096</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1284b552dd62e7a540bb3cdc693f7938</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;rut__c&quot;,&quot;Status&quot;,&quot;LastName&quot;,&quot;terms__c&quot;,&quot;engine__c&quot;,&quot;FirstName&quot;,&quot;channel__c&quot;,&quot;LeadSource&quot;,&quot;Lead_ID__c&quot;,&quot;MobilePhone&quot;,&quot;carPrice__c&quot;,&quot;channelId__c&quot;,&quot;downPayment__c&quot;,&quot;vehicleType__c&quot;,&quot;monthlyPayment__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Tipo_de_Producto__c&quot;,&quot;evaluationResult__c&quot;,&quot;carBrandDescription__c&quot;,&quot;downPaymentPercentage__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj67acda8ae09a118f24aa75eef1a24703_FireJBTrigger</name>
        <label>SalesforceObj67acda8ae09a118f24aa75eef1a24703_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj67acda8ae09a118f24aa75eef1a24703</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;terms__c&quot;,&quot;FirstName&quot;,&quot;Description&quot;,&quot;loanType__c&quot;,&quot;carPrice__c&quot;,&quot;monthlyPayment__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;termDescription__c&quot;,&quot;evaluationResult__c&quot;,&quot;carBrandDescription__c&quot;,&quot;respuesta_ef_credito__c&quot;,&quot;segundo_formulario_ok__c&quot;,&quot;Estado_de_Evaluaci_n_Motor__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj720d233c04f253ae77adffa8de3f0b39_FireJBTrigger</name>
        <label>SalesforceObj720d233c04f253ae77adffa8de3f0b39_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj67acda8ae09a118f24aa75eef1a24703</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj67acda8ae09a118f24aa75eef1a24703</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj720d233c04f253ae77adffa8de3f0b39</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;terms__c&quot;,&quot;FirstName&quot;,&quot;channel__c&quot;,&quot;carPrice__c&quot;,&quot;downPayment__c&quot;,&quot;URL_Storage__c&quot;,&quot;documentos_url__c&quot;,&quot;formulario_url__c&quot;,&quot;monthlyPayment__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;evaluationResult__c&quot;,&quot;respuesta_ef_credito__c&quot;,&quot;downPaymentPercentage__c&quot;,&quot;segundo_formulario_ok__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja57c60fabab8688cff26af687f6fb36d_FireJBTrigger</name>
        <label>SalesforceObja57c60fabab8688cff26af687f6fb36d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj720d233c04f253ae77adffa8de3f0b39</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj720d233c04f253ae77adffa8de3f0b39</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja57c60fabab8688cff26af687f6fb36d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;channel__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjb50b13001f5b89c655c6341e3a256096_FireJBTrigger</name>
        <label>SalesforceObjb50b13001f5b89c655c6341e3a256096_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb50b13001f5b89c655c6341e3a256096</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Title&quot;,&quot;Email&quot;,&quot;rut__c&quot;,&quot;Status&quot;,&quot;Industry&quot;,&quot;LastName&quot;,&quot;Modelo__c&quot;,&quot;income__c&quot;,&quot;FirstName&quot;,&quot;Lead_ID__c&quot;,&quot;channel__c&quot;,&quot;CreatedDate&quot;,&quot;MobilePhone&quot;,&quot;loanType__c&quot;,&quot;channelId__c&quot;,&quot;vehicleType__c&quot;,&quot;downPayment__c&quot;,&quot;documentos_url__c&quot;,&quot;formulario_url__c&quot;,&quot;retoma_cliente__c&quot;,&quot;monthlyPayment__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;termDescription__c&quot;,&quot;Respuesta_EF_OK__c&quot;,&quot;fono_referencia__c&quot;,&quot;documentacion_ok__c&quot;,&quot;Tipo_de_Producto__c&quot;,&quot;evaluationResult__c&quot;,&quot;fecha_adjudicacion__c&quot;,&quot;tipo_renta_cliente__c&quot;,&quot;financiera_aprueba__c&quot;,&quot;carBrandDescription__c&quot;,&quot;estado_otorgamiento__c&quot;,&quot;respuesta_ef_credito__c&quot;,&quot;tipo_contrato_cliente__c&quot;,&quot;downPaymentPercentage__c&quot;,&quot;segundo_formulario_ok__c&quot;,&quot;Filtro_Marketing_Cloud__c&quot;,&quot;tipo_trabajador_cliente__c&quot;,&quot;emision_carta_aprobacion__c&quot;,&quot;checklist_ef_respuesta_dep__c&quot;,&quot;checklist_ef_respuesta_inde__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</name>
        <label>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb50b13001f5b89c655c6341e3a256096</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj67acda8ae09a118f24aa75eef1a24703</name>
        <label>JB_Decision_Null_Check_SalesforceObj67acda8ae09a118f24aa75eef1a24703</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj67acda8ae09a118f24aa75eef1a24703_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj67acda8ae09a118f24aa75eef1a24703_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj67acda8ae09a118f24aa75eef1a24703_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj720d233c04f253ae77adffa8de3f0b39</name>
        <label>JB_Decision_Null_Check_SalesforceObj720d233c04f253ae77adffa8de3f0b39</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj67acda8ae09a118f24aa75eef1a24703</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj720d233c04f253ae77adffa8de3f0b39_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj720d233c04f253ae77adffa8de3f0b39_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj720d233c04f253ae77adffa8de3f0b39_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja57c60fabab8688cff26af687f6fb36d</name>
        <label>JB_Decision_Null_Check_SalesforceObja57c60fabab8688cff26af687f6fb36d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj720d233c04f253ae77adffa8de3f0b39</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja57c60fabab8688cff26af687f6fb36d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja57c60fabab8688cff26af687f6fb36d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja57c60fabab8688cff26af687f6fb36d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb50b13001f5b89c655c6341e3a256096</name>
        <label>JB_Decision_Null_Check_SalesforceObjb50b13001f5b89c655c6341e3a256096</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb50b13001f5b89c655c6341e3a256096_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb50b13001f5b89c655c6341e3a256096_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb50b13001f5b89c655c6341e3a256096_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Decision</name>
        <label>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb50b13001f5b89c655c6341e3a256096</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1284b552dd62e7a540bb3cdc693f7938</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1284b552dd62e7a540bb3cdc693f7938_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1284b552dd62e7a540bb3cdc693f7938</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj67acda8ae09a118f24aa75eef1a24703_Decision</name>
        <label>JB_SalesforceObj67acda8ae09a118f24aa75eef1a24703_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj67acda8ae09a118f24aa75eef1a24703</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.segundo_formulario_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj67acda8ae09a118f24aa75eef1a24703_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj67acda8ae09a118f24aa75eef1a24703</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj67acda8ae09a118f24aa75eef1a24703_State_change_Decision</name>
        <label>JB_SalesforceObj67acda8ae09a118f24aa75eef1a24703_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj67acda8ae09a118f24aa75eef1a24703</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.segundo_formulario_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj67acda8ae09a118f24aa75eef1a24703_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj67acda8ae09a118f24aa75eef1a24703</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj720d233c04f253ae77adffa8de3f0b39_Decision</name>
        <label>JB_SalesforceObj720d233c04f253ae77adffa8de3f0b39_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj67acda8ae09a118f24aa75eef1a24703</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj720d233c04f253ae77adffa8de3f0b39</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Respuesta_EF_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj720d233c04f253ae77adffa8de3f0b39_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj720d233c04f253ae77adffa8de3f0b39</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj720d233c04f253ae77adffa8de3f0b39_State_change_Decision</name>
        <label>JB_SalesforceObj720d233c04f253ae77adffa8de3f0b39_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj67acda8ae09a118f24aa75eef1a24703</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj720d233c04f253ae77adffa8de3f0b39</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Respuesta_EF_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj720d233c04f253ae77adffa8de3f0b39_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj720d233c04f253ae77adffa8de3f0b39</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja57c60fabab8688cff26af687f6fb36d_Decision</name>
        <label>JB_SalesforceObja57c60fabab8688cff26af687f6fb36d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj720d233c04f253ae77adffa8de3f0b39</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja57c60fabab8688cff26af687f6fb36d</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.documentacion_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja57c60fabab8688cff26af687f6fb36d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja57c60fabab8688cff26af687f6fb36d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja57c60fabab8688cff26af687f6fb36d_State_change_Decision</name>
        <label>JB_SalesforceObja57c60fabab8688cff26af687f6fb36d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj720d233c04f253ae77adffa8de3f0b39</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja57c60fabab8688cff26af687f6fb36d</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.documentacion_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja57c60fabab8688cff26af687f6fb36d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja57c60fabab8688cff26af687f6fb36d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb50b13001f5b89c655c6341e3a256096_Decision</name>
        <label>JB_SalesforceObjb50b13001f5b89c655c6341e3a256096_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb50b13001f5b89c655c6341e3a256096</name>
            <conditionLogic>(1 And  ( (2 AND 3)  OR  (4 AND 5) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MasterRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MasterRecord.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>macarena.mercado@amicar.cl</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MasterRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MasterRecord.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pamela.donoso@customertrigger.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb50b13001f5b89c655c6341e3a256096_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb50b13001f5b89c655c6341e3a256096</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObja57c60fabab8688cff26af687f6fb36d</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
